*{margin: 0;
padding: 0;
box-sizing:border-box;
font-family:'helvetica neue'}
html,
body{
  height:100%;
  width:100%;

}
button{
  padding:10px 20px;
  margin: 30px;
}
h1{
  background-color: rgb(169, 161, 161);
  width:fit-content;
  font-size: 100px;
  border-radius: 5px;
  padding:10px 80px;
  margin:10px;
}